<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Code Spark</title>
  <link rel="stylesheet" href="../../public/assets/styles/vendor/semantic-ui.css">
  <link rel="stylesheet" href="../../public/assets/styles/css/code-editor.css">
</head>
<body>
  <div class="editor-container">
    <div class="side-menu">
      <ul>
        <li id="file" class="menu-element is-active">
          <img class="menu-icon" src="../../public/assets/img/svg/document.svg">
        </li>
        <li id="directory" class="menu-element">
          <img class="menu-icon" src="../../public/assets/img/svg/folder.svg">
        </li>
        <li  id="run" class="menu-element">
          <img class="menu-icon" src="../../public/assets/img/svg/run.svg">
        </li>
        <li id="git" class="menu-element">
          <img class="menu-icon" src="../../public/assets/img/svg/git-branch.svg">
        </li>
        <li id="upload" class="menu-element">
          <img class="menu-icon" src="../../public/assets/img/svg/cloud-upload.svg">
        </li>
        <li id="download" class="menu-element">
          <img class="menu-icon" src="../../public/assets/img/svg/cloud-download.svg">
        </li>
      </ul>
    </div>
    <div id="editor" class="file">
  
    </div>
    <div class="directory">
      <img src="../../public/assets/img/svg/divs/folder.svg">
      <h2>Select a directory</h2>
      <input type="file" id="folderPath">
    </div>
    <div class="run">
      <img src="../../public/assets/img/svg/divs/run.svg">
      <h2>Script Runner</h2>
      <p class="secondary-text">
        This is feature still not in production.
      </p>
    </div>
    <div class="git">
      <img src="../../public/assets/img/svg/divs/git.svg">
      <h2>Use GitHub as a system version controll</h2>
    </div>
    <div class="upload">
      <img src="../../public/assets/img/svg/divs/cloud.svg">
      <h2>Upload a project</h2>
    </div>
    <div class="download">
      <img src="../../public/assets/img/svg/divs/cloud.svg">
      <h2>Download a project</h2>
    </div>
    
  </div>
  <script src="./editorView.js"></script>
</body>
</html>

